.Leaderboard {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: 20vh;
   background-color: #ffffff;
   font-family: Arial, sans-serif;
}

.MenuBar {
   display: flex;
   align-items: center;
   justify-content: space-between;
   background-color: #333;
   font-family: Arial, sans-serif;
   padding: 10px;
}

.OptionsMenu {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   font-family: Arial, sans-serif;
   padding: 10px;
   border: 1px solid #333;
   border-radius: 100px;
   background-color: #f9f9f9;
   width: 350px;
   margin: auto;
}

.circular-icon {
   width: 20px;
   height: 20px;
   border-radius: 50%;
   vertical-align: middle;
   margin-right: 10px;
}

.ce-boostup{
   color: #fff;
   font-size: 1.5em;
   margin: 10px 0;
}

.left-section {
   display: flex;
   align-items: center;
   justify-content: flex-start;
}

.menuleft {
   flex-grow: 1;
   margin-left: 30px;
}

.menuleft ul {
   list-style-type: none;
   padding: 0;
   display: flex;
   gap: 20px;
}

.menuleft ul li {
   display: inline;
}

.menuleft ul li a {
   text-decoration: none;
   color: #fff;
   padding: 10px 15px;
   border-radius: 100px;
   transition: background-color 0.3s, box-shadow 0.3s;
   box-shadow: 10 2px 5px rgba(0, 0, 0, 0.1);
}

.menuleft ul li a:hover {
   background-color: #ffeb3b;
   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.menu {
   flex-grow: 1;
   margin-left: 5px;
}

.menu ul {
   list-style-type: none;
   padding: 0;
   display: flex;
   gap: 20px;
}

.menu ul li {
   display: inline;
}

.menu ul li a {
   text-decoration: none;
   color: #333;
   padding: 10px 15px;
   border-radius: 100px;
   transition: background-color 0.3s, box-shadow 0.3s;
   box-shadow: 10 2px 5px rgba(0, 0, 0, 0.1);
}

.menu ul li a:hover {
   background-color: #aaa;
   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.login-button {
   padding: 10px 15px;
   border: none;
   border-radius: 5px;
   background-color: #dddddd;
   color: #555;
   cursor: pointer;
   transition: background-color 0.3s, box-shadow 0.3s;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.login-button:hover {
   background-color: #ffeb3b;
   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

h1{
   color: #333;
   font-size: 2.5em;
   margin: 10px 0;
}

p {
   color: #666;
   font-size: 1.1em;
   line-height: 1.5;
   margin: 10px 0;
   text-align: justify;
}