@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
	margin: 0;
	width: 100%;
	height: 100%;
}

html:not([dark]) {
	--text: rgb(0, 0, 0);
	--description: rgb(66, 66, 66);
	--normal: rgb(255, 255, 255);
	--normal-50: rgba(255, 255, 255, 0.5);
	--darker: rgb(194, 194, 194);
	--darker-50: rgba(194, 194, 194, 0.5);
	--outline: rgb(0, 0, 0);
	--button-bg: radial-gradient(at center top, rgb(255, 255, 255), rgba(85, 85, 85, 0.5));
	--bg: rgb(255, 255, 255);
	--bg-50: rgba(255, 255, 255, 0.5);
}

html[dark] {
	background: black;

	--text: rgb(238, 238, 238);
	--description: rgb(185, 185, 185);
	--normal: rgb(48, 48, 48);
	--normal-50: rgba(48, 48, 48, 0.5);
	--darker: rgb(22, 22, 22);
	--darker-50: rgba(22, 22, 22, 0.5);
	--outline: rgb(125, 125, 125);
	--button-bg: radial-gradient(at center top, rgb(128, 128, 128), rgba(85, 85, 85, 0.5));
	--bg: rgb(0, 0, 0);
	--bg-50: rgba(0, 0, 0, 0.5);
}

body {
	margin: 0;
	width: 100%;
	height: 100%;
}

* {
	color: var(--color-text);
}
