.HorizonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-image: url(./LoginImage/4428788.jpg);
    background-position: center;
    background-attachment: fixed;
}
.HorizonLoginBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto    ;
    width: 20vw;
    min-width: fit-content;
    padding: 20px;
    padding-top: 0px;
    gap: 15px;
    border: 2px solid gray;
    border-radius: 25px;
    backdrop-filter: blur(15px);
}


.HorizonLoginHead{
    font-size: 12vh;
    font-weight: 700;
}

.HorizonInputBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
    gap: 10px;
    align-self: self-start;
}
.HorizonPasswordBox{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    margin-top: 10px;
}

.HorizonEmail {
    padding-left: 10px;
    padding-right: 10px;
    background-color: transparent;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 4vh;
}

.HorizonPassword {
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    background-color: transparent;
    border: 1px solid gray;
    border-right: 0px;
    border-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    font-size: 4vh;
}

.HorizonIoIosEyeOff{
    border: 1px solid gray;  
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 6.4vh; border: 1px solid gray; 
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.HorizonForgetPassword{
    display: flex;
    font-size: 3vh;
}

.HorizonLogin {
    background-color: wheat;
    width: 100%;
    border: 1px solid gray;
    border-radius: 25px;
    font-size: 5.5vh;
    font-weight: 500;
}

.HorizonText{
    font-size: 4.5vh;
}

.HorizonGoogle {
    width: 100%;
    border: 1px solid gray;
    border-radius: 15px;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    font-size: 5vh; 
    font-weight: 500;
}

.HorizonIoLogoGoogle{
    width: 5.65vh; 
    margin-right: 5px;
}